**Imporant Imports**

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

## Load CSV
Some **very** predictable data is available in `../../data/temperature.csv`

In [13]:
df = truth = pd.read_csv('../../data/temperature.csv')
truth

              f            c            k                 description
0       -459.67      -273.15         0.00                  Absolute 0
1         28.40        -2.00       271.15            seawater freezes
2         32.00         0.00       273.15               water freezes
3         68.00        20.00       293.15                         NaN
4         86.00        30.00       303.15                         NaN
5        122.00        50.00       323.15                         NaN
6        158.00        70.00       343.15                         NaN
7        194.00        90.00       363.15                         NaN
8        212.00       100.00       373.15                 water boils
9       1220.00       660.00       933.15            aluminum freezes
10      1517.00       825.00      1098.15  petroleum fire temperature
11      2732.00      1500.00      1773.15               steel freezes
12      6920.00      3826.85      4100.00              aluminum burns
13  27000032.00  15000000.00  14999726.85                         Sun

### Regression
There are a lot of ways to compute the slope and offset  
They will all work equally well for this simple example  
`y = a * x + b`  
`celsius = a * fahrenheit + b`  
`a = rise / run = (y[i] - y[j]) / (x[i] - x[j])`

In [10]:
i, j = 1, 0
rise = delta_y = delta_f = df.f[i] - df.f[j]
run = delta_x = delta_c = df.c[i] - df.c[j]
a = slope = rise / run
x, y = df.c[j], df.f[j]
offset = b = y - a * x
slope, offset

(1.8, 31.999999999999943)

In [12]:
rise = delta_y = delta_f = df.f[i] - df.f[j]
run = delta_x = delta_c = df.c[i] - df.c[j]
a = slope = rise / run
x, y = df.c[j], df.f[j]
offset = b = y - a * x
slope, offset

(1.8, 32.0)

# *Exercise 1!*
Create a function (use `def`) to convert from fahrenheit to celsius
Include doctests to verify that the results using the data file above

In [ ]:
def f2c(c):
    # your code here
    return f

## Measurement Error
It's important to be able to simulate error to do "sensitivity studies"  
or just find out if your answer is still "good" even with a little noise.  
`error = (scale_factor_error * true_value * normal_noise) + bias`  
`y = 0.01 * randn(len(x)) * x + 1.0`

In [23]:
scale_factor_error, bias = 0.01, 1.0
meas = df.copy()
meas.c = scale_factor_error * pd.np.random.randn(len(meas)) * (meas.c + bias) + meas.c + bias
# err = (scale_factor_error * pd.np.randn(len(meas)) + 1) * meas.f
meas

              f                c            k                 description
0       -459.67      -274.116476         0.00                  Absolute 0
1         28.40        -1.009466       271.15            seawater freezes
2         32.00         0.999332       273.15               water freezes
3         68.00        20.751821       293.15                         NaN
4         86.00        31.278205       303.15                         NaN
5        122.00        50.218129       323.15                         NaN
6        158.00        70.149818       343.15                         NaN
7        194.00        89.304075       363.15                         NaN
8        212.00       101.884508       373.15                 water boils
9       1220.00       665.703153       933.15            aluminum freezes
10      1517.00       831.763281      1098.15  petroleum fire temperature
11      2732.00      1500.168336      1773.15               steel freezes
12      6920.00      3795.608015      4100.00              aluminum burns
13  27000032.00  15130690.264398  14999726.85                         Sun

In [ ]:
scale_factor_error, bias = 0.01, 1.0
meas2 = df.copy()
meas2.c = (1 + scale_factor_error) * meas.f
meas2

# *Exercise 2 !!*
Write a function to "regress" two sequences of values and return a slope and offset 2-tuple
Which method discussed during the lecture should you use?

In [ ]:
def fit_line(df):

# *Exercise 3!!*

In [ ]:
def add_error(df, scale_factor, bias, column=None):
    if isinstance(column, int):
        column = df.columns[column]
    elif column is None or not column in df.columns:
        column = list(df.columns)[-1]

# *Bonus !!*
Write a function to plot a scatter plot of points and
draw a line for the linear regression slope and offset

In [ ]:
def plot_regression(df):
    # your code goes here
    # plt.plot(x, y)  # you can do better than this
    plt.title('Slope: {}, Offset: {}, Error: {}'.format(coeff[0], poly[1], error))
    # plt.xlabel("some statistice or something interesting about x")
    # plt.ylabel("something interesting or some statistics about y")
    return error

# *Superfreak Bonus!!*
Read ahead about Norvig's spelling checker, or fuzzy string matching and build a fuzzy column label finder. You can use fuzzywuzzy or "roll your own"

In [ ]:
def find_label(df, label):
    if label in df.columns:
        return label
    # your code here to try to find the closest match for a column